@model HospitalManagementSystem2.ViewModels.Patients.IndexVM

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div>
        <table style="width:100%">
            <tr>
                <td>
                    <h1 style="float:left;">Hospital Managment System</h1>
                    <div style="float:right; display:inline-block;">


                        @if (HospitalManagementSystem2.Models.AuthenticationManager.LoggedDoctor == null &&
                           HospitalManagementSystem2.Models.AuthenticationManager.LoggedPatient == null)
                        {
                            <a style="margin:0 10px;" href="@Url.Action("Login","Home")">Login</a>
                            <a style="margin:0 10px;float:right" href="@Url.Action("Register","Home")">Register</a>
                        }
                        else
                        {
                            if (HospitalManagementSystem2.Models.AuthenticationManager.LoggedDoctor != null)
                            {
                                <p style="float:left;margin:0 10px;">Welcome,<b>@HospitalManagementSystem2.Models.AuthenticationManager.LoggedDoctor.Username</b></p>
                            }
                            else
                            {
                                <p style="float:left;margin:0 10px;">Welcome,<b>@HospitalManagementSystem2.Models.AuthenticationManager.LoggedPatient.Username</b></p>
                            }
                            <a style="margin:0 10px;float:right" href="@Url.Action("Logout","Home")">Logout</a>
                        }

                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <ul style="list-style:none;">
                        <li style="float:left; margin:0 10px;">
                            <a href="@Url.Action("Index","Home")">Home</a>
                        </li>
                        @if (HospitalManagementSystem2.Models.AuthenticationManager.LoggedDoctor != null ||
                            HospitalManagementSystem2.Models.AuthenticationManager.LoggedPatient != null)
                        {
                            <li style="float:left; margin:0 10px;">
                                <a href="@Url.Action("Index","Patients")">Manage Patients</a>
                            </li>
                            <li style="float:left; margin:0 10px;">
                                <a href="@Url.Action("Index", "Doctors")">Manage Doctors</a>
                            </li>
                        }
                        @if (HospitalManagementSystem2.Models.AuthenticationManager.LoggedDoctor != null)
                        {

                            <li style="float:left; margin:0 10px;">
                                <a href="@Url.Action("Index","Appointments")">Manage Appointments</a>
                            </li>
                            <li style="float:left; margin:0 10px;">
                                <a href="@Url.Action("Index","Specializations")">Manage Specializations</a>
                            </li>
                            <li style="float:left; margin:0 10px;">
                                <a href="@Url.Action("Index","Medicines")">Manage Medicines</a>
                            </li>
                        }

                    </ul>
                </td>
            </tr>
            <tr>
                <td>
                    <form action="/Patients/Index" method="get">
                        @Html.LabelFor(model => model.Filter.Username)
                        @Html.TextBoxFor(model => model.Filter.Username)
                        @Html.LabelFor(model => model.Filter.FirstName)
                        @Html.TextBoxFor(model => model.Filter.FirstName)
                        @Html.LabelFor(model => model.Filter.LastName)
                        @Html.TextBoxFor(model => model.Filter.LastName)
                        @Html.LabelFor(model => model.Filter.PhoneNumber)
                        @Html.TextBoxFor(model => model.Filter.PhoneNumber)
                        <input type="submit" value="Search" />
                    </form>
                    <a href="/Patients/Edit">New</a>
                    <table>
                        <tr>
                            <td>Username</td>
                            <td>First Name</td>
                            <td>Last Name</td>
                            <td>Phone Number</td>
                            <td></td>
                            <td></td>
                        </tr>
                        @foreach (var item in Model.Items)
                        {
                            <tr>
                                <td>@item.Username</td>
                                <td>@item.FirstName</td>
                                <td>@item.LastName</td>
                                <td>@item.Phonenumber</td>
                                @if((HospitalManagementSystem2.Models.AuthenticationManager.LoggedDoctor !=null &&
                                    HospitalManagementSystem2.Models.AuthenticationManager.LoggedDoctor.IsAdmin==true) ||
                                    (HospitalManagementSystem2.Models.AuthenticationManager.LoggedPatient !=null &&
                                    HospitalManagementSystem2.Models.AuthenticationManager.LoggedPatient.Id==item.Id))
                                {
                                <td><a href="@Url.Action("Index", "PatientDiagnosis", new { PatientId = item.Id })">Diagnosis</a></td>
                                <td><a href="@Url.Action("Medicines", "Patients", new { Id = item.Id })">Medicines</a></td>
                                <td><a href="@Url.Action("Edit", "Patients", new { Id = item.Id })">edit</a></td>
                                <td><a href="@Url.Action("Delete", "Patients", new { Id = item.Id })">delete</a></td>
                                }
                            </tr>
                        }
                    </table>
                    @{
                        string pageLink = "?";
                        for (int i = 0; i < this.Request.QueryString.Count; i++)
                        {
                            if (this.Request.QueryString.GetKey(i) != "Pager.Page")
                            {
                                pageLink += this.Request.QueryString.GetKey(i) + "=" + Url.Encode(this.Request.QueryString[i]) + "&";
                            }
                        }
                    }
                    <ul style="list-style-type:none;">
                        @for (int i = 0; i < Model.Pager.PagesCount; i++)
                        {
                            <li style="float:left; margin:0 5px;">
                                <a href="/@this.ViewContext.RouteData.Values["controller"]/@this.ViewContext.RouteData.Values["action"]@Html.Raw(pageLink)Pager.Page=@(i+1)" style="text-decoration:none; font-weight:@(Model.Pager.Page == (i+1) ? "bold" : "normal")">@(i + 1)</a>
                            </li>
                        }
                    </ul>
                </td>
            </tr>
        </table>
    </div>
</body>
</html>
